/* =====================================
 * general
 * ================================== */
// remove glow from buttons and icons
[class^="oo-icon-"],
[class*=" oo-icon-"],
button.oo-close-button:hover {
    filter: none !important;
}
[class^="oo-icon-"],
[class*=" oo-icon-"] {
    &:not(.oo-icon-system-menu) {
        font-family: "the-berrics" !important;
    }
}
/* =====================================
 * state screen
 * ================================== */
.oo-state-screen {

    // add hover state to video player (part 1 of 2)
    &:hover .oo-state-screen-poster:before {
        background-color: rgba(0,0,0,.6);
    }

    // make selectable state screens appear "clickable"
    .oo-state-screen-selectable {
        cursor: pointer;
    }

    // add hover state to video player (part 2 of 2)
    .oo-state-screen-poster {

        &:before {
            background-color: rgba(0,0,0,0);
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            transition: background-color .25s;
            width: 100%;
        }

    }

}
/* =====================================
 * start screen
 * ================================== */
.oo-start-screen {

    // remove linear-gradient from start screen proster image
    .oo-start-screen-linear-gradient {
        display: none;
    }

    // style play button on start screen
    .oo-icon-play-slick {
        text-shadow: 1px 2px 4px rgba(0,0,0,.3);
    }

}
/* =====================================
 * pause screen
 * ================================== */
.oo-pause-screen {

    // remove fading underlay from pause screen
    .oo-fading-underlay,
    .oo-fading-underlay-active {
        display: none;
    }

}
/* =====================================
 * share panel
 * ================================== */
.oo-share-tab-panel {

    // hide share panel action text "Invest In Social Change"
    .oo-social-action-text {
        display: none;
    }

    // social icons on social share panel
    .oo-facebook {
        background-image: url("/build/assets/images/social-facebook.svg");
    }

    .oo-twitter {
        background-image: url("/build/assets/images/social-twitter.svg");
    }

    .oo-google-plus {
        display: none;
    }

    .oo-email-share {
        display: none;
    }

    // style embed code text area
    .oo-form-control {

        background-color: $berrics-translucent-black-background;
        border-color: $berrics-gray-dark;
        border-radius: 0;
        color: $berrics-white;

        &:disabled,
        &[readonly] {
            background-color: $berrics-translucent-black-background;
        }

    }

}
/* =====================================
* control bar
* ================================== */
.oo-control-bar {

    // set transparent black background
    background: $berrics-translucent-black-background;

    .oo-control-bar-items-wrapper {

        // set color of selected control bar items
        .oo-control-bar-item.oo-selected > span {
            color: $berrics-white !important;
        }

    }

}
/* =====================================
* scrubber bar
* ================================== */
.oo-scrubber-bar-container {

    .oo-scrubber-bar-padding {

        // make scubber bar area appear "clickable"
        cursor: pointer;

        // remove rounded corners from scrubber bar
        .oo-scrubber-bar,
        .oo-buffered-indicator,
        .oo-played-indicator,
        .oo-hovered-indicator {
            border-radius: 0;
        }

        .oo-playhead-padding {

            // style play head
            .oo-playhead {
                background: $berrics-white;
                border: 1px solid $berrics-black;
                border-radius: 0;
                height: 15px;
                top: 43%;
                width: 5px;
            }

            .oo-playhead-hovering {
                top: 38%;
            }

        }

    }

}
/* =====================================
* slider (volume)
* ================================== */
.oo-volume {

    // style volume slider
    .oo-slider-volume[type=range] {

        cursor: pointer;
        border-top-width: 23px;
        outline: none !important;
        padding: 0;

        &::-webkit-slider-thumb {
            width: #{$slider-volume-thumb-width};
            border: 1px solid #000;
            border-radius: 0;
        }

        &::-moz-range-thumb {
            width: #{$slider-volume-thumb-width};
            border: 1px solid #000;
            border-radius: 0;
        }

        &::-ms-thumb {
            width: #{$slider-volume-thumb-width};
            border: 1px solid #000;
            border-radius: 0;
        }

    }

}
/* =====================================
* spinner
* ================================== */
.oo-spinner-wrapper {

    // style loading spinner
    background: url("/build/assets/images/loader_svg_bg.svg") center bottom no-repeat;
    background-size: cover;
    padding: 0 15px 18px 15px;

    // adjust spin speed
    .oo-spinner {
      -webkit-animation-duration: 1.1s;
      -moz-animation-duration: 1.1s;
      animation-duration: 1.1s;
    }

}
/* =====================================
* video quality panel
* ================================== */
// SCREEN
.oo-quality-panel {

    .oo-quality-screen-content {

        ul {

            li {

                a.oo-quality-btn {

                    // set button border radius
                    border-radius: 0;

                    // set selected quality text color
                    &.oo-selected {
                        border-color: $berrics-accent-red;
                        color: $berrics-accent-red;
                    }

                }

                a.oo-quality-auto-btn {

                    &.oo-selected {

                        // set auto quality text color
                        .oo-quality-auto-icon,
                        .oo-quality-auto-label {
                            color: $berrics-accent-red;
                        }

                    }

                }

            }

        }

    }

}
// POPOVER
.oo-quality-popover {

    // style video quality popover
    background: $berrics-translucent-black-background;
    border-radius: 0;
    box-shadow: none;

    .oo-quality-screen-content {

        ul {

            li {

                a.oo-quality-btn {

                    // set selected quality text color
                    &.oo-selected {
                        color: $berrics-accent-red;
                    }

                }

                a.oo-quality-auto-btn {

                    // remove auto quality text icon
                    .oo-quality-auto-icon {
                        display: none;
                    }

                    &.oo-selected {

                        // set auto quality text color
                        .oo-quality-auto-icon,
                        .oo-quality-auto-label {
                            color: $berrics-accent-red;
                        }

                    }

                }

            }

        }

    }

}
/* =====================================
 * thumbnail
 * ================================== */
// style scrubber bar thumbnail
.oo-thumbnail {
    background-color: $berrics-black;
    border: 1px solid $berrics-black;
    border-radius: 0;
    box-shadow: none;
}
// style scrubber bar thumbnail time stamp
.oo-thumbnail-time {
    background-color: $berrics-translucent-black-background;
    border-radius: 0;
    padding-left: 4%;
    padding-right: 4%;
}
/* =====================================
 * x-small
 * ================================== */
.oo-xsmall {

    // set control bar height at xsmall
    .oo-control-bar {
        height: 77px;
    }

    .oo-scrubber-bar-container {

        // compensate for control bar height at xsmall
        height: 34px;

        .oo-scrubber-bar-padding {

            .oo-playhead-padding {

                // style play head
                .oo-playhead {
                    border-radius: 0;
                    height: 12px;
                    width: 4px;
                }

            }

        }

    }

    // style scrubber bar thumbnail
    .oo-thumbnail {
        border-radius: 0;
        box-shadow: none;
    }

    // style scrubber bar thumbnail time stamp
    .oo-thumbnail-time {
        border-radius: 0;
        padding-left: 4%;
        padding-right: 4%;
    }

}
