/* =====================================
 * state screen
 * ================================== */
.oo-state-screen {

    // make selectable state screens appear "clickable"
    .oo-state-screen-selectable {
        cursor: pointer;
    }

}
/* =====================================
 * start screen
 * ================================== */
.oo-start-screen {

    // remove linear-gradient from start screen proster image
    .oo-start-screen-linear-gradient {
        display: none;
    }

}
/* =====================================
 * pause screen
 * ================================== */
.oo-pause-screen {

    // remove fading underlay from pause screen
    .oo-fading-underlay {
        display: none;
    }

}
 /* =====================================
  * control bar
  * ================================== */
.oo-control-bar {

    // set transparent black background
    background: rgba(0, 0, 0, 0.7);

}
/* =====================================
 * scrubber bar
 * ================================== */
.oo-scrubber-bar-container {

    .oo-scrubber-bar-padding {
        // make scubber bar area appear "clickable"
        cursor: pointer;

        // remove rounded corners from scrubber bar
        .oo-scrubber-bar,
        .oo-buffered-indicator,
        .oo-played-indicator,
        .oo-hovered-indicator {
            border-radius: 0;
        }

        .oo-playhead-padding {

            // style play head
            .oo-playhead {
                background: #fff;
                border: 1px solid #000;
                border-radius: 0;
                height: 15px;
                top: 43%;
                width: 5px;
            }

            .oo-playhead-hovering {
                top: 38%;
            }

        }

    }

}
/* =====================================
 * x-small
 * ================================== */
.oo-xsmall {

    .oo-scrubber-bar-container {

        .oo-scrubber-bar-padding {

            .oo-playhead-padding {

                // style play head
                .oo-playhead {
                    border-radius: 0;
                    height: 12px;
                    width: 4px;
                }

            }

        }

    }

}
